.sectionDiv {
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
}
.sectionDiv:focus-within {
    border-width: 5px;
    border-color: #99c;
    background-color: #ccf;
}
.sectionTextareaDivContent {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 5px;
}
